/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

/* Profile image styles */
.profile-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

/* Header text styles */
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Section styles */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Skills Section styles */
.skill-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Skill categories (Technical and Soft Skills) */
.skill-category {
    flex: 1;
    margin-right: 20px;
}

.skill-category:last-child {
    margin-right: 0;
}

.skills ul {
    list-style-type: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 10px;
}


/* Projects Section styles */
.projects {
    background-color: #f9f9f9;
    padding: 20px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 24px;
}

.project-card p {
    margin-bottom: 10px;
}

.project-card ul {
    list-style-type: none;
    padding-left: 0;
}

.project-card li {
    margin-bottom: 5px;
}

.project-card a {
    color: #007bff;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
