/* Overriding the Bootstrap class to adjust the image size */
.rounded-circle {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Footer styles */
footer {
  background-color: #333;
}
